.CloudBedsWidget {
	padding: 0;
	padding-top: 80px;
}
.CloudBedsWidget .float_bg2,
.float_bg2 {
	position: relative !important;
	z-index: 5;
	background-color: black;
	border: none;
}
.noneHotel .CloudBedsWidget,
.noneHotel .CloudBedsWidget .float_bg2,
.noneHotel .float_bg2 {
	display: none;
}

.CloudBedsWidget .widgetHotelsForm a.submit_link {
	border: none;
	background-color: #a65d4f;
}
